<header>

    <div class="header-image-container">
        <img src="NBA Primary Logo.jpg" width="150" ; height="240" ; style="position:absolute; width:10.4vw; top:900px; ">
        <img src="curry.jpg" width="1275" ; height="240" ; style="position:absolute; width:88vw; left:10.4vw; top:900px; ">
    </div>


    <div style="position:absolute;width:800px;height:100px;left:170px;top:1000px;font-size:6vw;left:11vw;color:#f67811;">
        <em>NBA Hall of Fame</em>
    </div>

</header>