<header>

    <div class="header-image-container">
        <img src="NBA Primary Logo.jpg" width="150" ; height="240" ; style="position:absolute; width:10.4vw; top:0px; ">
        <img src="curry.jpg" width="1275" ; height="240" ; style="position:absolute; width:88vw; left:10.4vw; top:0px; ">
    </div>

</header>