{{> personpageHeader}}

<main class="error-container">
    <style type="text/css">
        body 
        {
            background-color: black;
        }
        h2 {
            font-family: "Times New Roman",Times,serif;
            color: #f67811;

        }
    </style>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
	<h2 style="color:#f67811">404</h2>
	<h2 style="color:#f67811">Woops! We couldn't find that page.</h2>
</main>