{{> personpageHeader}}

<main class="error-container">
<<<<<<< HEAD
    <style type="text/css">
        body 
        {
            background-color: black;
        }
        h2 {
            font-family: "Times New Roman",Times,serif;
            color: #f67811;
        }
=======
    <style type="text/css">
        body 
        {
            background-color: black;
        }
        h2 {
            font-family: "Times New Roman",Times,serif;
            color: #f67811;

        }
>>>>>>> a82af97a50ae003e9e15a2e025d634a85bb7a401
    </style>
    <br />
    <br />
    <br />
    <br />
    <br />
<<<<<<< HEAD
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
=======
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
>>>>>>> a82af97a50ae003e9e15a2e025d634a85bb7a401
    <br />
    <br />
	<h2 style="color:#f67811">404</h2>
	<h2 style="color:#f67811">Woops! We couldn't find that page.</h2>
</main>