{{> homepageHeader}}
<main class="content">
    {{#unless hideFilter}}
    {{> showFilter}}
    {{/unless}}

    {{#unless hidePicture}}
    {{> showPicture}}
    {{/unless}}

    <section id="posts">
        {{#each height}}
        {{> newPost}}
        {{/each}}
    </section>
</main>
{{#unless hideButton}}
{{> showButton}}
{{/unless}}
