body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /*background-image: url("personbakcground.jpg");*/
    background-color:#000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: 998;
}

header {
    /*background-image: url("curry.jpg");
    background-repeat: no-repeat;
    background-size: 1275px 240px;
    background-position: top right;*/
    position: absolute;
    align-items: center;
    display: flex;
    z-index: 999;
}

    header a {
        color: #f67811;
        font-size: 350%;
        z-index: 1000;
    }


a {
    text-decoration: none;
    color: #f67811;
    font-size: 300%;
}

    a:hover {
        text-decoration: underline;
    }



.player-name {
    position: absolute;
    top: 250px;
    right: 350px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    font-size: 300%;
    font-family:"Times New Roman",Times,serif; 
    color: #f67811;
}

.player-photo {
    position: absolute;
    left: 230px;
    top: 500px;
    display:block;
    vertical-align: sub;
    height: 900px;
    width: 600px;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
}


ul {
    /*color: ThreeDLightShadow;*/
    color: #f67811;
    list-style-type: square;
    left: 3000px;
    top: 2000px;
    font-size: 250%;
    letter-spacing: 3px;
    line-height: 90px;
}

.player-info {
    position:absolute;
    right:230px;
    top:450px;
    display:inline-block;
    vertical-align:sub;
    height: 900px;
    width: 600px;
    margin: 10px;
    padding: 10px;
    
    border-radius: 3px;
}