body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /*background-image: url("personbakcground.jpg");*/
    background-color:#000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: 998;
}

header {
    /*background-image: url("curry.jpg");
    background-repeat: no-repeat;
    background-size: 1275px 240px;
    background-position: top right;*/
    position: absolute;
    align-items: center;
    display: flex;
    z-index: 999;
}

    header a {
        color: #f67811;
        font-size: 100vmin;
        z-index: 1000;
    }


a {
    text-decoration: none;
    color: #f67811;
    /*font-size: 300%;*/
}

    a:hover {
        text-decoration: underline;
    }



.player-name{
    position: absolute;
    top: 260px;
    right: 5vmin;
    left: 17vmin;
    bottom: 0;
    width: 95%;
    height: 50px;
    /*margin: 10px;
    padding: 10px;
    border-radius: 3px;*/
    font-size: 16vmin;
    font-family:"Times New Roman",Times,serif;
    color: #f67811;
}

.player-photo {
    position: absolute;
    left: 10px;
    top: 440px;
    display:block;
    vertical-align: sub;
    height: 100px;
    width: 600px;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
}


ul {
    /*color: ThreeDLightShadow;*/
    color: #f67811;
    list-style-type: square;
    left: 3500px;
    top: 2000px;
    font-size: 5vmin;
    letter-spacing: 3px;
    line-height: 90px;
}

.player-info {
    position:absolute;
    right:7vmin;
    top:430px;
    display:inline-block;
    vertical-align:sub;
    height: 900px;
    width: 600px;
    margin: 10px;
    padding: 10px;

    border-radius: 3px;
}
